/* Stylesheet behind WowGuesser */

body {
	background-color: #F2EDE0;
}

table {
	margin: auto;
	background-color: #1E4151;
}

th {
	font-family: "Comic Sans MS", "Comic Sans", cursive;
	font-size: 35px;
}

td {
	height: 30px;
	width: 150px;
}

.btn {
	margin:0 auto;
	max-height: 25px;
	width: 100px;
}

.dogeify{
	font-family: "Comic Sans MS", "Comic Sans", cursive;
	text-shadow: 2px 2px 2px #FFFFFF;
}

.showBot{
	margin:0 auto;
	max-height: 75px;
	max-width: 75px;
}

.showTop{
	margin:0 auto;
	max-height: 75px;
	max-width: 75px;
}

#mainBox {
	width: 150px;
	height: 30px;
}

#doge{
	bottom: 0px;
	right: 5%;
	position: fixed;
	max-width: 50%;
	max-height: 50%;

}
